* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: sans-serif;
    letter-spacing: 1px;
    background-color: #1b1b1b;
    line-height: 1.5;
    color: #c9c9c9;
}

.container {
    max-width: 1250px;
    padding: 32px 15px;
    margin: 0 auto;
}


p {
    font-weight: bold;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #333;
    margin-bottom: 32px;
}

.func {
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #333;
    display: inline-block;
    margin-bottom: 32px;
    margin-right: 32px;
}