* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: sans-serif;
    letter-spacing: 1px;
    background-color: #9e9e9e;
}

h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 32px;
    padding-top: 32px;
}

.container {
    max-width: 1250px;
    padding: 15px;
    margin: 0 auto;
}

ul {
    margin: 32px 0;
}

li {
    margin: 10px 0;
}

p {
    margin: 25px;
    font-weight: bold;
}

.func {
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    display: inline-block;
    margin: 32px;
}